*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #F6F8F9;
}
.head{
  padding: 10px;
  background-color: white;

}

.container{
  width: 70%;
  margin: 40px auto 0;
  background-color: white;
  border-radius: 5px;
}

.namelogo,#logo{
  display: inline;
  vertical-align:top;
  font-size: 40px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: white;
}

.btt1{
  color: white;
  font-size: 12px;
  background-color: #46ADF1;
  border: 2px solid #46ADF1;
  border-radius: 5px;
  padding: 2px 5px;
}

.btt2{
  color: #C8CDD1;
  font-size: 12px;
  background-color: white;
  border: 1px solid #C8CDD1;
  border-radius: 5px;
  padding: 2px 5px;
  display: inline;


}

.sezione-top {
  border-bottom: 2px solid #F6F8F9;
}

.sezione {
  padding:20px 50px 10px;
}

.space-top{
  line-height: 40px;
}

.button-editorial{
 color: white;
 font-size: 12px;
 background-color: #46ADF1;
 border-radius: 10px;
 padding: 6px;
}

.button-q1{
  color: white;
  font-size: 12px;
  background-color: #9C72E4;
  border-radius: 10px;
  padding: 6px;
 }

 .button-recruiting{
  color: white;
  font-size: 12px;
  background-color: #64BFA8;
  border-radius: 10px;
  padding: 6px;
 }

 .button-mobile{
  color: white;
  font-size: 12px;
  background-color: #F29E33;
  border-radius: 10px;
  padding: 6px;
 }

 .content::before{
   content: '\25BE   ';
 }

 .check{
 color: #75C9B6;
 border: 2px solid #75C9B6;
 border-radius: 50%;
 padding: 1px;
 margin-right: 5px;
 }

 .ncheck{
  color: #EA4237;
  border: 2px solid #EA4237;
  border-radius: 50%;
  padding: 1px;
  margin-right: 5px;
 }